body {
    display: flex;
    background-color: #fcfbf7;
    flex-direction: column;
    margin: 0 0 0 0;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    font-family: Helvetica;
    color: #000000;
}

p {
    font-family: Helvetica;
    color: #000000;
}

a {
    font-family: Helvetica;
    text-decoration: none;
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftHeaderColumn {
    width: 15%;
}

.centerHeaderColumn {
    display: flex;
    flex-direction: column;
}

.rightHeaderColumn {
    display: flex;
    align-items: center;
    width: 15%;
}

.subTitle {
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 80%;
    font-style: italic;
}

.title {
    max-width: 200%;
    height: auto;
}

.notify {
    margin-right: 50px;
    border:1px solid #000000
}

.subscribe {
    border:1px solid #000000
}

.signIn {
    border:1px solid #000000
}

@media screen and (max-width: 80em) {
    .navHeader {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}

@media screen and (max-width: 80em) {
    .leftHeaderColumn {
        width: 0;
    }
}

.menu {
    overflow: hidden;
}

/* when scrolling if .menu is not visible anymore it should become position:fixed */

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu ul li {
    width: 12.5%;
}
@media (max-width: 40em) {
    .menu ul li {
        width: 100%;
    }
}
.menu ul li > ul {
    display: none;
    flex-direction: column;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu a {
    display: block;
    background: #AA0022;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
.sub-menu li > a {
    width: 200%;
    display: flex;
    background: white;
    color: #000000;
    margin: 5px;

}
.sub-menu li:hover > a {
    width: 200%;
    background: #AA0022;
    color: white;
    margin: 5px;
}

.menu .sub-menu > a:after {
    content: "^";
    padding-left: 5px;
}

.lowerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerNews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
}

.smallNews {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.smallNewsImg {
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
}

.smallNewsText {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.smallNewsTitle {
    font-size: 90%;
    margin: 10px 0 10px 0;
}

.smallNewsParagraph {
    font-size: 80%;
    font-weight: lighter;
    margin: 0 0 10px 0;
}

.trending {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trendingTitle {
    font-size: 75%;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
}

.trendList {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.trendItem {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trendList a {
    display: flex;
    height: 10%;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
    font-size: 70%;
    color: black;
    text-align: center;
    align-items: center;
    border-right: gray 1px solid;
}

.trendList a:hover {
    border-bottom: black 1px solid;
}

.mainNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainAdImg {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    width: 1000px;
}

.mainNavs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftNav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    border-bottom: lightgray 1px solid;
}

.content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0 0 20px 0;
}

.contentImg {
    width: 90px;
    height: 90px;
}

.contentTitle {
    margin: 0 0 0 10px;
    font-size: 90%;
    text-align: left;
}

.sponsoredContentTitle {
    margin: 0 0 0 0;
    color: #AA0022;
    font-size: 100%;
}

.sponsoredContentBody {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    background: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centerNav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: lightgray 1px solid;
    border-right: lightgray 1px solid;
    width: 600px;
}

@media (max-width: 80em) {
    .centerNav {
        width: 35%;
    }
}

.centerMainNewsImg {
    width: 100%;
}

.centerMainNewsTitle {
    font-size: 150%;
    margin: 10px 10px 10px 0;
}

.newsDescription {
    display: flex;
    flex-direction: row;
    font-size: 90%;
    align-items: center;
}

.authorName {
    padding-left: 5px;
    color: blue;
}

.rightNav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
}

.followUs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.followUsTitle {
    font-size: 130%;
    margin: 10px 10px 10px 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search input[type=text]{
    width: auto;
    align-content: center;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.contentBlockTitle {
    font-size: 150%;
    color: white;
    background: lightslategray;
    padding: 10px;
    margin: 10px 0 5px 0;
}

.contentBlockBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: lightgray 1px solid;
}

.contentBlockImg {
    min-width: 90px;
    min-height: 90px;
}

.contentBlockText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contentBlockTextTitle {
    margin: 0 0 5px 5px;
    border-bottom: lightgray 1px solid;
}

.contentBlockDescription {
    margin: 0 0 5px 5px;
    font-weight: bold;
}

.contentBlockMore {
    font-size: 70%;
    padding-left: 55%;
}

.secondaryAd {
    display: flex;
    min-height: 600px;
}

.secondaryAd img {
    max-height: 400px;
}

