body {
    display: flex;
    background-color: #fcfbf7;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header#leftHeaderColumn {
    display: flex;
    flex-direction: row;

}

header#centerHeaderColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header#rightHeaderColumn {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;

}

h1#subTitle {
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

img#title {
    alignment: center;
    width: 100%;
    height: auto;
}

/*container*/
#drop-menu {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*menu*/

ul#menu {
    margin:60px 0 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    background-color: #CC0000;
    font-size:80%
}

ul#menu li {
    margin:0;
    padding:0;
    float:left;
    display: block;
    border-right: 1px solid #222;
    position: relative;
}

ul#menu li a {
    float: left;
    padding:12px 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
}

ul#menu li a:hover {
    background: #666;
    color:#fff
}

ul#menu ul {
    margin:2px 0 0;
    padding:0;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index:9999;
    background: #444;
}

ul#menu li:hover ul {
    opacity: 1;
    visibility: visible;
}

ul#menu ul li {
    float: none;
    display: block;
    border: 0;
}

ul#menu ul a {
    padding:10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

ul#menu ul a:hover {
    background-color: #0186ba;
    color:#fff
}