body {
    display: flex;
    background-color: #fcfbf7;
    flex-direction: column;
}

header {

}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftHeaderColumn {
    width: 15%
}

.centerHeaderColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightHeaderColumn {
    display: flex;
    align-items: center;
    width: 15%;
}

.subTitle {
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

.title {
    alignment: center;
    width: 100%;
    height: auto;
}

.notify {
    padding-right: 50px;
}

.menu {

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu ul li {
    width: 12.5%;
}
@media (max-width: 40em) {
    .menu ul li {
        width: 100%;
    }
}
.menu ul li > ul {
    display: none;
    flex-direction: column;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu a {
    text-transform: uppercase;
    display: block;
    background: #AA0022;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    text-decoration: none;
    text-align: center;
}
.sub-menu li > a {
    background: white;
    color: #000000;
    margin: 5px;

}
.sub-menu li:hover > a {
    background: #AA0022;
    color: white;
    margin: 5px;
}

.menu .sub-menu > a:after {
    content: "^";
    padding-left: 5px;
}